:root {
	--cl-bg: #f0f4f9;
	--cl-item-bg: #fff;
	--cl-passive: #B2B5B9;
	--cl-active: #2662C4;
	--cl-txt: #141415;
	--cl-btn-txt: #fff;
	--cl-btn-txt-alt: var(--cl-txt);
	--cl-btn-ena: rgba(150, 169, 191, 0.65);
	--cl-btn-disa: rgba(169, 186, 208, 0.3);
	--cl-hr: #D1D4D9;
	--font-general: 'Nunito', sans-serif;
	--sh-general : 0 0 0.75rem rgba(0, 0, 0, 0.33);
}

body {all: unset; display: flex; flex-direction: column; align-items: center; justify-content: center; background: var(--cl-bg); font-family: var(--font-general);}
input {font-family: inherit;}
a, a:link, a:visited, a:hover, a:active {text-decoration: none;}
hr {margin-block: 0; border-color: var(--cl-hr);}
h2 {margin-block-start: 1rem; margin-block-end: 1rem;}

.content {display: flex; justify-content: center; width: 100%; max-width:60rem; _padding: 1rem;}

.list {display: flex;}
.list-horiz {display: flex;}
.list-vert {display: flex; flex-direction: column;}

/**/

.btn {display: flex; justify-content: center; align-items: center; color: var(--cl-btn-txt); background: var(--cl-active); text-align: center; _word-break: auto-phrase;}

.btn-small {font-size: 75%; padding: 0.5rem; border-radius: 10rem;}
.btn-med {padding:0.5rem; border-radius: 10rem;}
.btn-med-spacious {padding:0.75rem; border-radius: 10rem;}
.btn-disa {background: var(--cl-btn-disa); color: var(--cl-btn-txt-alt);}
.btn-ena {background: var(--cl-btn-ena); color: var(--cl-btn-txt-alt); _border: thin solid var(--cl-btn-ena);}

.btn-fix-smaller {height: 0.75rem; padding: 0.5rem; font-size: 75%; border-radius: 10rem;}
.btn-fix-small {height: 1rem; padding: 0.5rem; font-size: 75%; border-radius: 10rem;}

.btn-icon {border-radius: 100%; aspect-ratio: 1/1; flex-shrink: 0;}
.btn-icon-info {background-image: url('./../img/icon/info.svg?v=17'); background-size: 75%; background-position: center; background-repeat: no-repeat;}

/**/

#menu {
	display: flex; justify-content: center; _width: 100%;
	
	& .content {flex-direction: column; padding: 1rem; padding-top: 0.5rem;}
	& .list {justify-content: center; gap: 0.5rem; background: var(--cl-item-bg); padding: 0.5rem; border-radius: 10rem; _box-shadow: var(--sh-general);}
}

#main {
	display: flex; justify-content: center; width: 100%;
	
	& .content {flex-direction: column; gap: 2rem; padding: 1rem;}
	
	& .info {display: flex; flex-direction: column; gap: 2rem;}
	& .info > .list {justify-content: center; gap: 0.5rem; flex-wrap: wrap; align-items: center;}
	& .info > .txt {text-align: center; font-size: 125%;}

	& .search {display: flex; justify-content: center;}
	& .search > .input {width: 30rem; padding:1rem; border-radius: 2rem; border: 0.15rem solid var(--cl-passive); _box-sizing: border-box;}
	& .search > .input:focus {border-color: var(--cl-active); outline: none;}
	
	& .result {display: flex; flex-direction: column; gap:1rem;}
	& .result > .item {display: flex; flex-direction: column; gap: 0.25rem; background: var(--cl-item-bg); padding: 1rem; border-radius: 1rem;}
	& .result > .item > .num {font-size: 125%;}
	& .result > .item > .name {display: flex; gap: 1rem; align-items: center;}
	& .result > .item > .name > .txt {font-size: 150%; text-transform: capitalize;}
	& .result > .item > .desc {font-size: 90%;}
	& .result > .item > .hr {width: 75%; padding: 0.25rem 0;}
	& .result > .item > .list {padding-top: 0.5rem;}
	& .result > .item > .list > .btn {padding:0.5rem; border-radius: 2rem;}
	& .result > .msg {display: flex; justify-content: center; padding-top: 6rem; text-align: center;}
	
	& .article {display: flex; flex-direction: column; gap: 1rem; background: var(--cl-item-bg); padding: 1rem; border-radius: 1rem;}
	& .article > .list {justify-content: center; padding: 1rem 0;}
}

@media (max-width: 45rem)
{
	.content {width:100%}

	#main .search > .input {width:100%}
}